<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>131010737486-oalqcnjcoatled2ecntn7uohgf558qii.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.131010737486-oalqcnjcoatled2ecntn7uohgf558qii</string>
  <key>API_KEY</key>
  <string>AIzaSyCPgD5hqc8kFJlp-iATk8XFRCmqpNewuPE</string>
  <key>GCM_SENDER_ID</key>
  <string>131010737486</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.tejasgajjar.kano</string>
  <key>PROJECT_ID</key>
  <string>kano-dfdc5</string>
  <key>STORAGE_BUCKET</key>
  <string>kano-dfdc5.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:131010737486:ios:d6532b3f43444605d9da1f</string>
</dict>
</plist>
